body{
    align-items: center;
    justify-content: center;
    background-color: #222;
    color: white;
    font-family: Arial, sans-serif;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: #222;
    color: white;
    font-family: Arial, sans-serif;
}
.drum-pad-container {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 10px;
}
.drum-pad {
    width: 100px;
    height: 100px;
    background-color: #444;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.1s;
}
.drum-pad:active, .active {
    background-color: #f39c12;
}